*.df
ade.txt
*.[ado]
infomysql
core.*
.*.swp
lexer.cc
parser.tab.cc
parser.tab.h
fixit.awk
hidden/
schema/
.idea/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
